.sliderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.highwayBarrier {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.highwayLane {
  display: flex;
  width: calc(200px * 10);
  /* Adjust width based on number of items */
  gap: 20px;
  animation: scroll 25s linear infinite;
  /* Default scroll left */
  transition: transform 0.5s ease-in-out;
  /* Smooth transition */
  animation-play-state: running;
  /* Default running */

}

.highwayCar {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  gap: 20px;
}

@keyframes scroll {
  100% {
    transform: translateX(calc(-180px * 5));
    /* Move items left */
  }
}

@keyframes scroll-reverse {
  100% {
    transform: translateX(calc(180px * 5));
    /* Move items right */
  }
}

.reverse {
  animation: scroll-reverse 25s linear infinite;
  animation-play-state: running;
  transition: transform 0.5s ease-in-out;
}
