.sliderContainer {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-out;
}

.sliderText {
  font-size: 5.1rem;
  font-weight: bold;
  white-space: nowrap;
  flex: 0 0 auto;
  margin: 0 1vw;
  color: var(--pink);
  font-family: var(--crazy);
  padding: 10px;
}

@media (max-width: 640px) {
  .sliderText {
    font-size: 1.5rem;
  }
}
