 .whatWeDoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  position: relative;
  background-color: var(--blue);
}

.textSection {
  width: 60%;
  color: #3a3a3a;
  font-size: 2rem;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10%;
  font-family: var(--crazy);
  font-weight: 100;

}

.serviceList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.serviceItem {
  font-size: 2rem;
  line-height: 3;
  position: relative;
  padding-left: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 200;
  border-top: 1px solid var(--grey);
}

.serviceItem:last-child {
  border-bottom: 1px solid var(--grey);
}

.serviceItem::before {
  content: '>';
  position: absolute;
  left: 0;
  font-size: 2rem;
  color: var(--pink);
}

.serviceItem:hover {
  color: var(--pink);
  font-weight: bold;
  transform: scale(1.05);
  letter-spacing: 0.05cm;
  cursor: pointer;
}

.serviceItem:hover::before {
  color: var(--pink);
}

/* .rightCircle {
  width: 250px;
  height: 2500px;
  border-radius: 50%;
  background-color: var(--pink);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

.insideText {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--bg);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.cursorImage {
  position: absolute;
  width: 400px;
  height: auto;
  pointer-events: none;
  z-index: 1000;
  display: block;
}
