 .whatWeDoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vw;
  position: relative;
  /* background-color: var(--blue); */
}

.textSection {
  width: 100%;
  color: var(--grey);
  font-size: 2rem;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
  font-family: var(--crazy);
  font-weight: 100;
}

.serviceList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.serviceItem {
  line-height: 4;
  position: relative;
  padding-left: 5vw;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 300;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceName {
  font-size: 2.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.serviceDescription {
  font-size: 1.2rem;
}

.serviceItem:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.serviceItem:hover {

  .serviceName {
    color: var(--pink);
    font-weight: bold;
    transform: scale(1.05);
    letter-spacing: 0.05cm;
    cursor: pointer;
  }
}

.cursorImage {
  position: absolute;
  width: 400px;
  height: auto;
  pointer-events: none;
  z-index: 1000;
  display: 0.9;
}
